<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8"/>

  <title>Beacon | {{title}}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=1" />

  <link rel="shortcut icon" href="{{baseUrl}}/img/favicon-32x32.png"   type="image/png" sizes="32x32">
  <link rel="shortcut icon" href="{{baseUrl}}/img/favicon-144x144.png" type="image/png" sizes="144x144">
  <link rel="shortcut icon" href="{{baseUrl}}/img/favicon-152x152.png" type="image/png" sizes="152x152">
  <link rel="shortcut icon" href="{{baseUrl}}/img/favicon-260x260.png" type="image/png" sizes="260x260">
  <link rel="apple-touch-icon" sizes="152x152" href="{{baseUrl}}/favicon-152x152.png">

  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="img/favicon-144x144.png">

{{{GA}}}

  <script src="{{baseUrl}}/js/bundle.js" type="text/javascript"></script>
  <link href="{{baseUrl}}/css/beacon.css" rel="stylesheet" type="text/css">

  <!--link href="http://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet" type="text/css"-->

</head>

<body>

  <div class="container">
  <header id="site-header">

    <div class="content">
      <section class="section-row">
        <div class="col" id="site-logo">
          <a id="navToggle" href="{{baseUrl}}/" title="Beacon Home" alt="Go to Beacon Home">
             <img src="{{baseUrl}}/img/beacon_logo_with_tag_3.svg" onerror="this.onerror=null"; this.src='{{baseUrl}}/img/beacon_logo_with_tag.png' alt="Beacon Platform" />
          </a>
        </div>

        <div id="hamburger" tabindex="2">

        </div>

        <div id="main-menu" tabindex="3">
          <nav class="site-menu">
            <ul>
              <li class="menu-item"><a href="{{baseUrl}}/clients" alt="Clients" title="Clients">Clients</a></li>
                <ul class="l3-menu">
                  <li><a href="{{baseUrl}}/clients#commodities">Commodities</a></li>
                  <li><a href="{{baseUrl}}/clients#hedgefunds">Hedge Funds</a></li>
                  <li><a href="{{baseUrl}}/clients#insurance">Insurance</a></li>
                  <li><a href="{{baseUrl}}/clients#trm">TRMS Vendors</a></li>
                </ul>
            </ul>
            <ul>
              <li class="menu-item"><a href="{{baseUrl}}/products/licensing" alt="Products" title="Products">Products</a></li>
                <ul class="l3-menu">
                  <li><a href="{{baseUrl}}/products/licensing">Licensing Options</a></li>
                  <li><a href="{{baseUrl}}/products/index"> Beacon Introduction</a></li>
                  <li class="b"><a href="{{baseUrl}}/products/beacon_core" class="b-brick-sm"> Core</a></li>
                  <li class="b"><a href="{{baseUrl}}/products/beacon_standard" class="b-brick-sm"> Standard</a></li>
                  <li><a href="{{baseUrl}}/products/integration"> Integration</a></li>
                  <li class="b"><a href="{{baseUrl}}/products/app_store" class="b-brick-sm"> App store</a></li>
                </ul>
            </ul>
            <ul>
              <li class="menu-item"><a href="{{baseUrl}}/about" alt="Who we are" title="Who we are">Who We Are</a></li>
            </ul>
            <ul>
              <li class="menu-item"><a href="{{baseUrl}}/news" alt="News" title="News">News</a></li>
            </ul>
            <ul>
              <li class="menu-item"><a href="{{baseUrl}}/contact" alt="Contact" title="Contact">Contact</a></li>
            </ul>
          </nav>
        </div>
      </section>
    </div>

    <div class="ribbon">
      <ul>
        <li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li>
        <li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li>
        <li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li>
        <li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li>
        <li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li>
        <li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li>
        <li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li>
        <li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li>
        <li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li>
        <li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li>
        <li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li>
        <li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li>
        <li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li>
        <li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li>
        <li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li>
        <li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li>
        <li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li>
        <li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li>
        <li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li>
        <li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li>
      </ul>
    </div>

  </header><!-- /header -->


  <div id="site-content">
    <div class="content">

      {{{ body }}}

    </div><!-- /content-->
  </div><!-- /site-content-->


  <footer id="site-footer" class="site-centered">
      <div class="content">
      <nav>

        <section class="section-row">

          <div class="col">
            <div class="footer-info-block">
              <span class="lead">Beacon Platform, Inc.</span>
            </div>
            <address class="footer-info-block footer-info-address">
              61 Broadway, Ste 1105<br/>
              New York NY 10006
            </address>
            <div class="footer-info-block footer-info-email">
              <a href="mailto:info@beacon.io">info@beacon.io</a>
            </div>
          </div>

          <div class="footer-menu-block">
            <nav class="site-menu">
                <ul class="footer-menu-block">
                  <li class="footer-menu-lead"><a href="{{baseUrl}}/">Home</a></li>
                </ul>
                <ul class="footer-menu-block">
                  <li class="footer-menu-lead"><a href="{{baseUrl}}/clients">Clients</a></li>
                </ul>
                <ul class="footer-menu-block">
                  <li class="footer-menu-lead"><a href="{{baseUrl}}/products/index">Products</a></li>
                </ul>
                <ul class="footer-menu-block">
                  <li class="footer-menu-lead"><a href="{{baseUrl}}/about">Who We Are</a></li>
                </ul>
                <ul class="footer-menu-block">
                  <li class="footer-menu-lead"><a href="{{baseUrl}}/news">News</a></li>
                </ul>
                <ul class="footer-menu-block">
                  <li class="footer-menu-lead"><a href="{{baseUrl}}/contact">Contact</a></li>
                </ul>
            </nav>
          </div>
        </section>

        <section class="section-row">
          <div class="col footer-menu-bottom">
              &copy; 2016 Beacon Platform, Inc.
          </div>
          <div class="col footer-menu-block">
           <!--  <a>Terms and Conditions </a> |
            <a> Privacy Policy </a> |
            <a> Accessibility </a> |
            <a> Social Icons </a> -->
          </div>
        </section>

      </nav>
      </div><!-- /content-->
    </footer>

  </div><!-- /container -->
</body>

</html>
